.game-over-state {
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    font-weight: bold;
    transform: translate(-50%, -50%);

    &__text {
        font-size: 48px;
        padding: 5px;
        text-align: center;
        &--win {
            background: yellowgreen;
        }

        &--lose {
            background: red;
        }
    }
}